#fragment2
{
  margin-top:-20px;
}
#fragment1
{
     width: 25em;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: frag1type 20s steps(50, end) 0s infinite;
	animation: frag1type 20s steps(50, end) 0s infinite;
}
#fragment2
{
    opacity: 0;
	width: 25em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: frag2type 20s steps(50, end) 10s infinite;

    animation: frag2type 20s steps(50, end) 10s infinite;
}
